body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #000000,
    #030001,
    #050003,
    #060006,
    #05000a,
    #0c0a16,
    #0f131e,
    #0e1a26,
    #0b2836,
    #033844,
    #00484e,
    #0d5853
  );
  background-repeat: no-repeat;
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
  user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.particles {
  position: absolute;
  z-index: -10000;
}
